<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock title %} - My Webpage!</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
    {% endblock head %}
  </head>
  <body>
    <div id="content" class="content">{% block content %}this is where the content should be.{% endblock content %}</div>
    <div id="footer" class="centred">
      <hr>
      <a href="https://github.com/amberg12">
        <img src="static/GitHub_Logo_White.png" alt="Github" width="20%" height="20%"> 
      </a>
      {% block script %}{% endblock script %}
    </div>
  </body>
</html>